
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







.header {
    width: 100%;
    background-image: 
     linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("./images/backimg.png")
    ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

/* 
    for differents screens
*/

@media only screen and (max-height: 700px) {
    .header {
        height: 700px;
    }
}

@media only screen and (min-height: 700px) and (max-height: 900px) {
    .header {
        height: 900px;
    }
}

@media only screen and (min-height: 900px) {
    .header {
        height: 1030px;
    }
}

.navbar__logo-axit {
    display: inline-flex;
    margin-left: 50px;
    height: 100%;
    width: 9rem;
}

.navbar {
    display: block;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #000000;
}

.navbar__lists {
    display: inline-block;
    float: right;
    margin-right: 75px;
}

.navbar__lists__list {
    display: inline-block;
    list-style-type: none;
}

.navbar__lists__list > a {
    display: flex;
    width: 113.799px;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.form-download {
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 65px;
}

.form-download__container {
    display: inline-block;
    margin-top: -25px;
}

.form-download__container__company-name {
    margin-bottom: 25px;
}

.form-download__container__headline-about-company {
    width: 670px;
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}

.form-download__container__headline-about-company__hr {
    height: 1px;
    width: 170px;
    border: none;
    margin-left: 0px;
    margin-top: 40px;
    background: #FFF;
}

.form-download__container__download-text {
    width: 270px;
    margin-top: 35px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.form-download__container__download {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 225px;
    margin-top: 50px;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 600;
}

.form-download__container__download:active {
    border: 2px solid #ec7979;
}

.login-form {
    display: inline-block;
    float: right;
    position: absolute;
    z-index: 0;
    width: 470px;
    height: 375px;
    background-color: #ffffff;
    border-radius: 10px;
}

/* 
    for different screens
*/

@media only screen and (max-width: 1274px) {
    .login-form {
        position: absolute;
        right: 20px;
    }
}

@media only screen and (min-width: 1274px) {
    .login-form {
        position: absolute;
        right: 150px;
    }
}

.login-form__headline {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.login-form__headline__red {
    color: #ec7979;
    margin-right: 5px;
    margin-left: 5px;
}

#login-form__input-name,
#login-form__input-email,
#login-form__input-password {
    display: block;
    width: 375px;
    margin-top: 50px;
    margin-left: 55px;
    padding-bottom: 12px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

#login-form__input-name::placeholder,
#login-form__input-email::placeholder,
#login-form__input-password::placeholder {
    opacity: 0.9;
}

.login-form__send-form {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #ec7979;
    border: 1px solid #ec7979;
    color: #fdefef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 40px;
}




.social-media {
    background-color: #f8efef;
    padding-bottom: 25px;
}

.social-media__left, 
.social-media__right {
    display: inline-block;
    height: 100%;
}

.social-media__left-text__headline {
    width: 470px;
    height: 60px;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    justify-content: center;
    color: #333;
    font-family: Open Sans;
    font-size: 24px;    
    font-weight: 700;
}

.social-media__left-text__about {
    width: 470px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    color: #86878B;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}



.social-media__right {
    display: flex;
    align-items: center;
    margin-top: 20px;
    float: right;
}

.social-media__right-icons__icon {
    text-decoration: none;
}

.social-media__right-icons__facebook__image,
.social-media__right-icons__twitter__image,
.social-media__right-icons__linkedin__image,
.social-media__right-icons__pinterest__image,
.social-media__right-icons__instagram__image,
.social-media__right-icons__github__image,
.social-media__right-icons__rss__image {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 20px;
}

.social-media__right-icons__facebook__image:hover,
.social-media__right-icons__twitter__image:hover,
.social-media__right-icons__linkedin__image:hover,
.social-media__right-icons__pinterest__image:hover,
.social-media__right-icons__instagram__image:hover,
.social-media__right-icons__github__image:hover,
.social-media__right-icons__rss__image:hover {
    transform: translateY(-15px);
}







.container-design {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    background:
      linear-gradient(
        to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)
      ), 
      url("./images/backimg-design.png")
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: content-box;
}

.container-design__headline {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 2.5rem;
    font-weight: 400;
}

.container-design__hr {
    width: 200px;
    height: 1px;
    background: #FFF;
    border: none;
    margin-top: -10px;
}

.container-design__download-text {
    width: 100%;
    height: 75px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: #FFF;
    opacity: 0.8;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.container-design__download {
    width: 400px;
    height: 100px;
    border: 2px solid #FFF;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: #FFF;
}

.container-design__download:active {
    border: none;
}