
/* 
    REMOVE CSS
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 
    style HEADER
*/
.header {
    background-image: 
     linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("./images/backimg.png")
    ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

/* 
    for differents screens
*/

@media only screen and (max-height: 700px) {
    .header {
        height: 700px;
    }
}

@media only screen and (min-height: 700px) and (max-height: 900px) {
    .header {
        height: 900px;
    }
}

@media only screen and (min-height: 900px) {
    .header {
        height: 1030px;
    }
}

.navbar__logo-axit {
    display: inline-flex;
    margin-left: 50px;
    height: 100%;
    width: 9rem;
}

@media only screen and (max-width: 675px) {
    .navbar__logo-axit {
        margin-left: 20px;
    }
}

.navbar {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #000000;
}

.navbar__lists {
    display: inline-block;
    float: right;
    margin-right: 75px;
}

.navbar__lists__list {
    display: inline-block;
    list-style-type: none;
}

.navbar__lists__list > a {
    display: flex;
    width: 75px;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-download {
    display: inline-block;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 65px;
}

@media only screen and (min-height: 679px) {
    .form-download {
        margin-top: 250px;
    }
}

.form-download__container {
    display: inline-block;
    margin-top: -25px;
}

@media only screen and (min-width: 900px) {
    .form-download__container {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 785px) {
    .form-download__container {
        margin-left: -57px;
    }
}

.form-download__container__company-name {
    margin-bottom: 25px;
}

.form-download__container__headline-about-company {
    width: 300px;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.form-download__container__headline-about-company__hr {
    height: 1px;
    width: 170px;
    border: none;
    margin-left: 0px;
    margin-top: 40px;
    background: #FFF;
}

.form-download__container__download-text {
    width: 270px;
    margin-top: 35px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.form-download__container__download {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 225px;
    margin-top: 50px;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 600;
}

.form-download__container__download:active {
    border: 2px solid #ec7979;
}

.login-form {
    display: inline-block;
    float: right;
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 380px;
    background-color: #ffffff;
    border-radius: 10px;
}

@media only screen and (max-width: 785px) {
    .login-form {
        width: 335px;
    }
}

/* 
    header for different screens
*/

@media only screen and (max-width: 1235px) {
    .login-form {
        position: absolute;
        right: 20px;
    }
}

.login-form__headline {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.login-form__headline__red {
    color: #ec7979;
    margin-right: 5px;
    margin-left: 5px;
}

#login-form__input-name,
#login-form__input-email,
#login-form__input-password {
    display: block;
    width: 320px;
    margin-top: 50px;
    margin-left: 55px;
    padding-bottom: 12px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

@media only screen and (max-width: 785px) {
    #login-form__input-name,
    #login-form__input-email,
    #login-form__input-password {
        width: 260px;
        margin-left: 40px;
    }
}

#login-form__input-name::placeholder,
#login-form__input-email::placeholder,
#login-form__input-password::placeholder {
    opacity: 0.9;
}

.login-form__send-form {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #ec7979;
    border: 1px solid #ec7979;
    color: #fdefef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 40px;
}










/* 
    style section SOCIAL MEDIA
*/
.social-media {
    background-color: #f8efef;
    padding-bottom: 25px;
    width: 100%;
}

.social-media__left, 
.social-media__right {
    display: inline-block;
    height: 100%;
}

@media only screen and (max-width: 658px) {
    .social-media__left {
        width: 250px;
    }
}

.social-media__left-text__headline {
    width: 140px;
    height: 60px;
    display: flex;
    margin-left: 35px;
    flex-direction: column;
    justify-content: center;
    color: #333;
    font-family: Open Sans;
    font-size: 24px;    
    font-weight: 700;
}

.social-media__left-text__about {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    color: #86878B;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

@media only screen and (max-width: 1235px) and (min-width: 920px) {
    .social-media__left-text__about {
        width: 450px;
    }
}

@media only screen and (max-width: 920px) and (min-width: 780px) {
    .social-media__left-text__about {
        width: 320px;
    }
}

@media only screen and (max-width: 780px) and (min-width: 734px) {
    .social-media__left-text__about {
        width: 237px;
    }
}

@media only screen and (max-width: 734px) and (min-width: 657px) {
    .social-media__left-text__about {
        width: 229px;
    }
}

@media only screen and (max-width: 657px) {
    .social-media__left-text__about {
        width: 220px;
    }
}



.social-media__right {
    display: flex;
    align-items: center;
    margin-top: 20px;
    float: right;
}

@media only screen and (max-width: 680px) {
    .social-media__right {
        width: 395px;
    }
}

@media only screen and (max-width: 1235px) and (min-width: 920px) {
    .social-media__right {
        margin-right: 20px;
    }
}


.social-media__right-icons__icon {
    text-decoration: none;
}

.social-media__right-icons__facebook__image,
.social-media__right-icons__twitter__image,
.social-media__right-icons__linkedin__image,
.social-media__right-icons__pinterest__image,
.social-media__right-icons__instagram__image,
.social-media__right-icons__github__image,
.social-media__right-icons__rss__image {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    width: 38px;
    height: 38px;
    object-fit: cover;
    margin-top: 20px;
}

@media only screen and (max-width: 734px) {
    .social-media__right-icons__facebook__image,
    .social-media__right-icons__twitter__image,
    .social-media__right-icons__linkedin__image,
    .social-media__right-icons__pinterest__image,
    .social-media__right-icons__instagram__image,
    .social-media__right-icons__github__image,
    .social-media__right-icons__rss__image {
        margin-top: 30px;
    }
}

.social-media__right-icons__facebook__image:hover,
.social-media__right-icons__twitter__image:hover,
.social-media__right-icons__linkedin__image:hover,
.social-media__right-icons__pinterest__image:hover,
.social-media__right-icons__instagram__image:hover,
.social-media__right-icons__github__image:hover,
.social-media__right-icons__rss__image:hover {
    transform: translateY(-15px);
}











/* 
    style main TABS
*/
.container-tabs-flex {
    display: flex;
    justify-content: center;
    margin-left: 7%;
}

@media only screen and (max-width: 1234px) and (min-width: 1015px) {
    .container-tabs-flex {
        margin-left: 17%;
    }
}

@media only screen and (max-width: 1015px) and (min-width: 955px) {
    .container-tabs-flex {
        margin-left: 13%;
    }
}

@media only screen and (max-width: 955px) and (min-width: 832px) {
    .container-tabs-flex {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 832px) and (min-width: 793px) {
    .container-tabs-flex {
        margin-left: 8.5%;
    }
}

@media only screen and (max-width: 793px) and (min-width: 710px) {
    .container-tabs-flex {
        margin-left: 3%;
    }
}

@media only screen and (max-width: 710px) and (min-width: 690px) {
    .container-tabs-flex {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 690px) and (min-width: 660px) {
    .container-tabs-flex {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 660px) {
    .container-tabs-flex {
        margin-left: 0.5%;
    }
}

.container-tabs {
    display: block;
    width: calc(100% - 29px);
    margin-top: 50px;
}

@media only screen and (max-width: 676px) {
    .container-tabs {
        width: calc(100% - 42px);
    }
}

.container-tabs__tabs {
    display: grid;
    grid-template: 40px / 150px 125px 125px 200px;
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__tabs {
        display: grid;
        grid-template: 40px / 100px 100px 100px 150px;
    }
}

@media only screen and (max-width: 676px) {
    .container-tabs__tabs {
        display: grid;
        grid-template: 40px / 97px 97px 97px 135px;
    }
}

.tab1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-left: 1px solid #C6CBCD;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .tab1 {
        width: 100px;
    }
}

@media only screen and (max-width: 676px) {
    .tab1 {
        width: 97px;
    }
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .tab2,
    .tab3 {
        width: 100px;
    }
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__space {
        width: 150px;
    }
}

@media only screen and (max-width: 676px) {
    .container-tabs__space {
        width: 135px;
    }
}

.tab2 {
    border-bottom: 1px solid #C6CBCD;
}

.tab3 {
    border-bottom: 1px solid #C6CBCD;
}

.tab2,
.tab3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
}

@media only screen and (max-width: 676px) {
    .tab2 {
        width: 97px;
    }
}

@media only screen and (max-width: 676px) {
    .tab3 {
        width: 97px;
    }
}

.link-slides {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.container-tabs__space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 40px;
    border-bottom: 1px solid #C6CBCD;
}

.container-tabs__text-img {
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    padding-left: 10px;
    display: inline-block;
    height: 375px;
}

@media only screen and (max-width: 676px) {
    .container-tabs__text-img {
        width: 325px;
    }
}

.container-tabs__text-img__text {
    width: 350px;
    display: inline-block;
    position: relative;
    top: -150px;
}

@media screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__text-img__text {
        width: 325px;
        top: -120px;
    }
}


@media screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__text-img__text__description:not(.container-tabs__text-img__text__headline) {
        width: 200px;
    }
}

@media only screen and (max-width: 676px) {
    .container-tabs__text-img__text {
        width: 320px;
        top: 10px;
        left: 10px;
    }
}

.container-tabs__text-img__text__headline {
    display: flex;
    width: 375px;
    height: 25px;
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-shrink: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 15px;
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__text-img__text__headline {
        width: 285px;
        font-size: 18px;
        font-weight: 900;
        left: 10px;
        top: 10px;
    }
}

@media only screen and (max-width: 676px) {
    .container-tabs__text-img__text__headline {
        width: 285px;
        font-size: 17px;
    }
}

.container-tabs__text-img__text__description:not(.container-tabs__text-img__text__headline) {
    width: 370px;
    margin-top: 5px;
    margin-bottom: -5px;
    color: #000;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    padding-top: 10px;
    top: 20px;
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__text-img__text__description:not(.container-tabs__text-img__text__headline) {
        width: 285px;
        margin-left: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 676px) {
    .container-tabs__text-img__text__description:not(.container-tabs__text-img__text__headline) {
        width: 285px;
        font-size: 15px;
    }
}

.container-tabs__text-img__text__description__bla {
    padding-top: 20px;
}

.container-tabs__text-img__text__description__1 {
    margin-top: 10px;
}

.container-tabs__text-img__text__download {
    position: relative;
    top: 75px;
    width: 270px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    background-color: #ec7979;
    text-align: center;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
}

@media only screen and (max-width: 676px) {
    .container-tabs__text-img__text__download {
        width: 190px;
    }
}

.container-tabs__text-img__image {
    display: inline-block;
    object-fit: cover;
    width: 320px;
    height: 375px;
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__text-img__image {
        width: 300px;
    }
}

.container-tabs__text-img__image-state-of-freedom {
    object-fit: cover;
    width: 320px;
    height: 375px;
}

@media only screen and (max-width: 676px) {
    .container-tabs__text-img__image {
        position: absolute;
        right: 20px;
        width: 300px;
    }
}

@media only screen and (max-width: 676px) {
    .container-tabs__text-img__image-state-of-freedom {
        width: 300px;
    }
}

@media only screen and (max-width: 792px) and (min-width: 676px) {
    .container-tabs__text-img__image-state-of-freedom {
        width: 300px;
    }
}









/* 
    style section AWESOME
*/
.awesome-container {
    width: 100%;
    margin: 75px auto 0 auto;
}

.awesome-container__headline {
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px; 
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.awesome-container__hr {
    display: block;
    width: 170px;
    height: 1px;
    border: none;
    background: #EC7979;
}

.awesome-container__some-text-lil-proof {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Raleway, serif;
    font-weight: 400;
    font-size: 18px;
}

.awesome-container__explain {
    display: flex;
    justify-content: center;
}

.awesome-container__explain-blocks {
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 350px;
    margin-left: 35px;
}

.awesome-container__explain-light__img,
.awesome-container__explain__keyboard__img,
.awesome-container__explain__energy__img {
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    padding-right: 15px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.awesome-container__explain-light__headline,
.awesome-container__explain__keyboard__headline,
.awesome-container__explain__energy__headline {
    margin-bottom: 35px;
    font-size: 1.6rem;
    font-weight: 600;
}

.awesome-container__explain-light__information,
.awesome-container__explain__keyboard__information,
.awesome-container__explain__energy__information {
    padding-right: 30px;
    padding-left: 30px;
}

@media only screen and (max-width: 791px) and (min-width: 745px) {
    .awesome-container__explain-light__information,
    .awesome-container__explain__keyboard__information,
    .awesome-container__explain__energy__information {
        width: 200px;
        margin-left: -30px;
    }
}

@media only screen and (max-width: 744px) and (min-width: 710px) {
    .awesome-container__explain-light__information,
    .awesome-container__explain__keyboard__information,
    .awesome-container__explain__energy__information {
        width: 180px;
        margin-left: -25px;
    }
}

@media only screen and (max-width: 710px) and (min-width: 676px) {
    .awesome-container__explain-light__information,
    .awesome-container__explain__keyboard__information,
    .awesome-container__explain__energy__information {
        width: 170px;
        margin-left: -25px;
        margin-top: -10px;
    }
}

@media only screen and (max-width: 676px) {
    .awesome-container__explain__energy__information {
        width: 170px;
        margin-left: -25px;
        margin-top: -10px;
    }

    .awesome-container__explain__keyboard__information,
    .awesome-container__explain-light__information {
        width: 170px;
        margin-left: -30px;
        margin-top: -10px;
    }
}













/* 
    style PRICING part
*/

.container-pricing {
    display: block;
    margin: 120px auto 10px;
    width: 100%;
}

.container-pricing__about {
    display: block;
    width: 100%;
}

.container-pricing__about__headline {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.container-pricing__about__line {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 1px;
    margin-top: 50px;
    background: #EC7979;
}

.container-pricing__about__tence {
    margin-top: 30px;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}

.container-pricing__pricing {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-pricing__pricing__format {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    width: 200px;
}

.container-pricing__pricing__format__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    background-color: rgba(51, 51, 51, 1);
}

.container-pricing__pricing__format__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    height: 70px;
    width: 170px;
    color: #FFF;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: rgba(51, 51, 51, 1);
}

.container-pricing__pricing__format__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    width: 170px;
    height: 30px;
    color: rgba(255, 255, 255, 0.50);
    background-color: rgba(51, 51, 51, 1);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-pricing__pricing__format__pluses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #F5F5F5;
    box-shadow: #fdfdfd 2px;
    width: 170px;
    height: 40px;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.container-pricing__pricing__format:hover {
    transform: translateY(-20px);
}

@media only screen and (min-width: 865px) {
    .container-pricing__pricing__format {
        width: 275px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .container-pricing__pricing__format__name {
        width: 270px;
    }

    .container-pricing__pricing__format__price {
        width: 270px;
    }

    .container-pricing__pricing__format__text {
        width: 270px;
    }

    .container-pricing__pricing__format__pluses {
        width: 270px;
    }
}

@media only screen and (min-width: 1030px) and (max-width: 1120px) {
    .container-pricing__pricing__format {
        width: 275px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media only screen and (min-width: 1120px) {
    .container-pricing__pricing__format {
        width: 275px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 25px;
        margin-left: 25px;
    }
}















/* 
    style CUSTOMER FEEDBACK
*/
.customer-container {
    display: block;
    margin: 150px auto -10px;
    width: 100%;
}

.customer__about {
    display: block;
}

.customer__about__headline {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-weight: 900;
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (max-width:815px) {
    .customer__about__headline {
        font-size: 30px;
    }
}

.customer__about__line {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 1px;
    margin-top: 50px;
    background: #EC7979;
}

.customer__about__tence {
    margin-top: 30px;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}

.feedbacks {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 25px;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    padding: 38px 37px;   
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background: #E2E2E2;
}

.comment {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    margin-left: -15px;
}

.triangular {
    position: absolute;
    margin-left: -100px;
    margin-top: 190px;
    z-index: 100;
}

.persons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.human {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    margin-top: 350px;
    margin-left: -20px;
}

.human__name {
    margin-left: 10px;
    margin-top: 20px;
    font-family: Raleway;
    font-weight: 800;
}

.about-work {
    position: absolute;
    margin-top: 50px;
    margin-left: 80px;
    font-family: Raleway;
}

@media only screen and (min-width: 715px) and (max-width: 810px) {
    .feedbacks {
        margin-left: 40px;
    }

    .human {
        margin-left: 0px;
        margin-top: 300px;
    } 

    .photo__person {
        width: 65px;
        height: 65px;
    }

    .human__name {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 715px) {
    .human {
        margin-left: 10px;
        margin-top: 300px;
    }

    .photo__person {
        width: 45px;
        height: 45px;
    }

    .human__name {
        margin-top: 0px;
    }

    .about-work {
        margin-top: 25px;
    }
}








/* 
    style DESIGN part
*/
.container-design {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 150px;
    background:
      linear-gradient(
        to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)
      ), 
      url("./images/backimg-design.png")
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: content-box;
}

.container-design__headline {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 2.2rem;
    font-weight: 400;
}

.container-design__hr {
    width: 200px;
    height: 1px;
    background: #FFF;
    border: none;
    margin-top: -10px;
}

.container-design__download-text {
    width: 100%;
    height: 75px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: #FFF;
    opacity: 0.8;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.container-design__download {
    width: 280px;
    height: 90px;
    border: 2px solid #FFF;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: #FFF;
}

.container-design__download:active {
    border: none;
}









/* 
    style CONTACT US part
*/

.contact-us-flex {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.contact-us {
    display: block;
    position: relative;
    height: 700px;
    width: 100%;
    background-color: #ffffff;
}

.contact-us__headline {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 400;
}

.contact-us__hr {
    width: 150px;
    height: 1px;
    margin-top: 10px;
    background: #EC7979;
    margin-bottom: 40px;
}

.contact-us__about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.contact-us__form {
    display: block;
    width: 100%;
}

.contact-us__form__left,
.contact-us__form__right {
    margin-top: 50px;
}

.contact-us__form__left {
    display: inline-block;
    height: 200px;
    width: 280px;
    margin-left: 20px;
}

.contact-us__form__left__name,
.contact-us__form__left__email,
.contact-us__form__left__password {
    display: block;
    width: 100%;
    margin-top: 75px;
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
    padding-left: 5px;
}

.contact-us__form__right {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 188px;
    height: 220px;
    width: 290px;
    padding-bottom: -20px;
}

.contact-us__form__right__message {
    display: block;
    position: absolute;
    width: 100%;
    height: 230px;
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    text-align: start;
}

.contact-us__form__right__message::placeholder {
    display: block;
    width: 100%;
    height: 20px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}

.contact-us__send-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px; 
    margin-top: 50px;
    margin-left: calc(50% - 100px);
    color: #FFF;
    background-color: #ec7979;
    border: 1px solid #ec7979;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (min-width: 780px) and (max-width: 915px) {
    .contact-us__form__left {
        width: 350px;
    }

    .contact-us__form__right {
        width: 355px;
    }

    .contact-us__send-form {
        width: 250px;
        margin-left: calc(50% - 125px);
    } 
}

@media only screen and (min-width: 915px) and (max-width: 1050px) {
    .contact-us__form__left {
        width: 420px;
    }

    .contact-us__form__right {
        width: 425px;
    }

    .contact-us__send-form {
        width: 300px;
        margin-left: calc(50% - 150px);
    } 
}

@media only screen and (min-width: 875px) {
    .contact-us__form__left {
        width: 420px;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1200px) {
    .contact-us__form__left {
        margin-left: 70px;
        width: 470px;
    }

    .contact-us__form__right {
        width: 475px;
        margin-right: 25px;
    }

    .contact-us__send-form {
        width: 350px;
        margin-left: calc(50% - 150px);
    }
}

@media only screen and (min-width: 1200px) {
    .contact-us__form__left {
        margin-left: 70px;
        width: 520px;
    }

    .contact-us__form__right {
        width: 525px;
        margin-right: 25px;
    }

    .contact-us__send-form {
        width: 375px;
        margin-left: calc(50% - 150px);
    }
}









/* 
    style FOOTER part with ICONS
*/
.footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.91);
}

.footer__top-container {
    display: inline-flex;
    justify-content: space-between;
    width: 45%;
    margin-top: 40px;
}

.footer__top-container > a > img {
    width: 45px;
    height: 50px;
    font-weight: 900;
}

.footer__top-container > a > img:hover {
    transform: translateY(-15px);
}

.footer__bottom-container__headline {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 92px);
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    width: 184px;
}

.footer__bottom-container__headline__time {
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 900px) {
    .footer__top-container {
        width: 65%;
    }
}