
// style employees
.employees {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    @media only screen and (max-width: 1069px) {
        // delete top part img
        .employees__container > .employees__container__left > img[alt*="top"] {
            display: none;
        }

        .employees__container > .employees__container__right > img[alt*="top"] {
            display: none;
        }

        // delete bottom part img
        .employees__container > .employees__container__left > img[alt*="bottom"] {
            display: none;
        }

        .employees__container > .employees__container__right > img[alt*="bottom"] {
            display: none;
        }
    }

    @media only screen and (max-width: 894px) {
        .employees__container {
            display: flex;
            flex-direction: column;
        }
    }

    .employees__zoom {
        height: 730px;
        display: inline-flex;
        margin-top: 100px;
        position: relative;

        @media only screen and (max-width: 894px) {
            margin-top: 300px;
            display: flex;
            justify-content: center;
        }

        .employees__zoom__left {
            width: 400px;
            margin-left: 50px;

            @media only screen and (max-width: 894px) {
                margin-left: -1.5vw;
            }

            &:hover {

                .employees__zoom__left__top-img {
                    top: -12%;
                    transition: .3s ease-in-out;
                }

                .employees__zoom__left__bottom-img {
                    bottom: 13%;
                    transition: .3s ease-in-out;
                }
            }

            .employees__zoom__left__top-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                top: -11%;
                left: 1%;
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        
            .employees__zoom__left__human-img {
                object-fit: cover;
                width: 400px;

                @media only screen and (max-width: 894px) {
                    width: 90vw;
                    margin-left: 5vw;
                }
            }


            .employees__zoom__left__bottom-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                bottom: 14%;
                left: 2.5%; 
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        }

        .employees__zoom__right {
            width: 50%;
            margin-top: 60px;
            margin-left: 110px;

            @media only screen and (max-width: 1073px) and (min-width: 894px) {
                margin-top: 10px;
                margin-left: 50px;
            }

            @media only screen and (max-width: 894px) {
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                width: 80%;
            }

            .employees__zoom__right__headline {
                font-size: 3.1rem;
                font-weight: 700;
                font-family: Inter, serif;

                @media only screen and (max-width: 894px) {
                    width: 128px;
                    margin-left: calc(50% - 64px - 50px);
                }
            }

            .employees__zoom__right__started {
                width: 95%;
                margin-top: 30px;
                line-height: 60px;
                font-size: 3.1rem;
                font-weight: 200;
                font-family: Inter, serif;
                
                @media only screen and (max-width: 933px) and (min-width: 894px) {
                    margin-top: 20px;
                    font-size: 2.8rem;
                }

                @media only screen and (max-width: 894px) {
                    width: 90%;
                    font-size: 2.5rem;
                    text-align: center;
                    margin-left: 0%;
                }
            }

            .employees__zoom__right__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;
                margin-top: 40px;
                background-color: #ffffff;

                &:hover {
                    animation: button__red .8s ease-in-out forwards;

                    @at-root {
                        @keyframes button__red {
                            from {
                                background-color: #ffffff;
                            }

                            to {
                                background-color: #e5745d;
                            }
                        }
                    }

                    .employees__zoom__right__learn-more__button {
                        background-color: #e5745d;
                        border: 4px double #ffffff;
                        color: #ffffff;
                        animation: button__red .8s ease-in-out forwards;
                    }
                }

                @media only screen and (max-width: 894px) {
                    width: 30%;
                    margin-left: 27%;
                    padding-right: 5px;
                    padding-left: 5px;
                }

                .employees__zoom__right__learn-more__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 210px;
                    background-color: #ffffff;
                    border: 4px double #e5745d;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-weight: 700;

                    @media only screen and (max-width: 894px) {
                        font-size: 0.7rem;
                    }
                }

            }

            .employees__zoom__right__theses {
                margin-top: 35px;
                margin-left: 5px;
                margin-bottom: 8px;
                color: #e5745d;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.19rem;
                font-weight: 500;
                font-family: Karla, sans-serif;

                @media only screen and (max-width: 894px) {
                    display: flex;
                    justify-content: center;
                    margin-left: -13%;
                }
            }

            .employees__zoom__right__these {
                width: 250px;
                margin-top: 10px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #000000;
                border-bottom: 1px solid #c0c7c4;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #000000;
                    transition: .4s ease-in-out;
                }

                @media only screen and (max-width: 894px) {
                    width: 155px;
                    display: flex;
                    justify-content: center;
                    margin-left: calc(50% - 125px);
                }
            } 

            .employees__zoom__right__collaboration {
                display: block;
                width: 105px;
                margin-top: 10px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #000000;
                border-bottom: 1px solid #c0c7c4;
                text-decoration: none;

                @media only screen and (max-width: 894px) {
                    display: flex;
                    justify-content: center;
                    margin-left: calc(50% - 100px);
                }
            }
        }
    }









    .employees__doximity {
        position: relative;
        margin-top: 100px;
        height: 700px;
        width: 90%;
        background-color: #466684;

        @media only screen and (max-width: 894px) {
            width: 100%;
            height: 1150px;
            margin-top: 1000px;
        }

        .employees__doximity__left {
            padding-left: 50px;
            padding-top: 50px;

            @media only screen and (max-width: 894px) {
                position: absolute;
                bottom: 50px;
            }

            .employees__doximity__left__started {
                width: 57.4482471%;
                font-weight: 300;
                font-size: 3.1rem;
                font-family: Inter, serif;
                line-height: 60px;
                color: #ffffff;

                &::selection {
                    color: #b5e4c9;
                }

                a {
                    text-decoration: none;

                    &::selection {
                        color: #b5e4c9;
                    }
                }

                @media only screen and (max-width: 930px) and (min-width: 894px) {
                    width: 53%;
                    font-size: 2.9rem;
                }

                @media only screen and (max-width: 894px) {
                    width: 90vw; 
                    font-size: 2.5rem;
                    text-align: center;
                    margin-left: 0%;
                }
            }

            .employees__doximity__left__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;   
                margin-top: 40px;
                background-color: #324f6b;

                @media only screen and (max-width: 894px) {
                    margin-left: calc(50% - 138px);
                }

                &:hover {
                    animation: button__blue-green .8s ease-in-out forwards;

                    .employees__doximity__left__learn-more__botton {
                        background-color: #b5e4c9;
                        border: 4px double #324f6b;
                        color: #324f6b;
                        animation: button__blue-green .8s ease-in-out forwards;
                    }

                    @at-root {
                        @keyframes button__blue-green {
                            from {
                                background-color: #324f6b;
                            }

                            to {
                                background-color: #b5e4c9;
                            }
                        }
                    }

                }

                .employees__doximity__left__learn-more__botton {
                    width: 210px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    background-color: #324f6b;
                    border: 4px double #b5e4c9;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;

                    &::selection {
                        color: #0f0405;
                    }
                }
            }

            .employees__doximity__left__theses {
                margin-top: 35px;
                margin-left: 5px;
                margin-bottom: 8px;
                color: #b5e4c9;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.19rem;
                font-weight: 500;
                font-family: Karla, sans-serif;

                @media only screen and (max-width:930px) {
                    margin-top: 25px;
                }

                @media only screen and (max-width: 894px) {
                    display: flex;
                    justify-content: center;
                    margin-left: -60px;
                }
            }

            .employees__doximity__left__these {
                display: block;
                width: 155.4px;
                margin-top: 6px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #ffffe7;
                border-bottom: 1px solid #748ca3;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #ffffe7;
                    transition: .4s ease-in-out;
                }

                @media only screen and (max-width: 894px) {
                    margin-left: calc(50% - 105px);
                }
            }

            .employees__doximity__left__cloud {
                display: block;
                width: 120px;
                margin-top: 6px;
                margin-left: 5px;
                padding-bottom: 3px;
                padding-left: -2px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #ffffe7;
                border-bottom: 1px solid #748ca3;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #ffffe7;
                    transition: .4s ease-in-out;
                }

                @media only screen and (max-width: 894px) {
                    margin-left: calc(50% - 90px);
                }
            }
        }

        .employees__doximity__right {

            @media only screen and (min-width: 1069px) {
                &:hover {
                    .employees__doximity__right__top-img {
                        top: -12%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }

                    .employees__doximity__right__bottom-img {
                        bottom: 17%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }
                }
                
            }

            .employees__doximity__right__top-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                top: -11%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
            
            .employees__doximity__right__human-img {
                object-fit: contain;
                width: 400px;
                position: absolute;
                right: -6%;
                top: -4%;
                z-index: 2;

                @media only screen and (max-width: 894px) {
                    object-fit: cover;
                    width: 90vw;
                    height: 600px;
                    right: 5vw;
                }
            }
            
            .employees__doximity__right__bottom-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                bottom: 18%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
        }
    }




    .employees__veeva {
        height: 730px;
        display: inline-flex;
        margin-top: 100px;
        position: relative;

        .employees__veeva__left {
            width: 400px;
            margin-left: 50px;

            @media only screen and (max-width: 894px) {
                margin-left: 0px;
            }

            &:hover {

                .employees__veeva__left__top-img {
                    top: -12%;
                    transition: .3s ease-in-out;
                }

                .employees__veeva__left__bottom-img {
                    bottom: 13%;
                    transition: .3s ease-in-out;
                }
            }

            .employees__veeva__left__top-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                top: -11%;
                left: 1%;
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        
            .employees__veeva__left__human-img {
                object-fit: cover;
                width: 400px;

                @media only screen and (max-width: 894px) {
                    width: 90vw;
                    margin-left: 5vw;
                }
            }


            .employees__veeva__left__bottom-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                bottom: 14%;
                left: 2.5%; 
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        }

        .employees__veeva__right {
            width: 50%;
            margin-top: 60px;
            margin-left: 110px;

            @media only screen and (max-width: 1073px) {
                margin-top: 10px;
                margin-left: 50px;
            }

            @media only screen and (max-width: 894px) {
            }

            .employees__veeva__right__logo {
                width: 150px;
                
                @media only screen and (max-width: 933px) {
                    width: 100px;
                }
            }

            .employees__veeva__right__started {
                margin-top: 30px;
                line-height: 60px;
                font-size: 3.1rem;
                font-weight: 200;
                font-family: Inter, serif;
                
                @media only screen and (max-width: 933px) {
                    margin-top: 20px;
                    font-size: 2.8rem;
                }
            }

            .employees__veeva__right__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;
                margin-top: 40px;
                background-color: #ffffff;

                &:hover {
                    animation: button__red .8s ease-in-out forwards;

                    .employees__veeva__right__learn-more__button {
                        background-color: #e5745d;
                        border: 4px double #ffffff;
                        color: #ffffff;
                        animation: button__red .8s ease-in-out forwards;
                    }
                }

                .employees__veeva__right__learn-more__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 210px;
                    background-color: #ffffff;
                    border: 4px double #e5745d;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-weight: 700;
                }

            }

            .employees__veeva__right__thesis {
                margin-top: 35px;
                margin-left: 5px;
                margin-bottom: 8px;
                color: #e5745d;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.19rem;
                font-weight: 500;
                font-family: Karla, sans-serif;
            }

            .employees__veeva__right__cloud {
                width: 116px;
                margin-top: 10px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #000000;
                border-bottom: 1px solid #c0c7c4;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #000000;
                    transition: .4s ease-in-out;
                }
            } 
        }
    }

    .employees__bill-com {
        position: relative;
        height: 600px;
        width: 90%;
        background-color: #466684;

        @media only screen and (max-width: 894px) {
            margin-top: 900px;
        }

        

        .employees__bill-com__left {
            padding-left: 50px;
            padding-top: 75px;
    
            .employees__bill-com__left__started {
                width: 57.4482471%;
                font-weight: 300;
                font-size: 3.1rem;
                font-family: Inter, serif;
                line-height: 60px;
                color: #ffffff;
    
                &::selection {
                    color: #b5e4c9;
                }
    
                a {
                    text-decoration: none;
    
                    &::selection {
                        color: #b5e4c9;
                    }
                }
            }
    
            .employees__bill-com__left__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;   
                margin-top: 50px;
                background-color: #324f6b;
    
                &:hover {
                    animation: button__blue-green .8s ease-in-out forwards;
    
                    .employees__bill-com__left__learn-more__button {
                        background-color: #b5e4c9;
                        border: 4px double #324f6b;
                        color: #324f6b;
                        animation: button__blue-green .8s ease-in-out forwards;
                    }
                }
    
                .employees__bill-com__left__learn-more__button {
                    width: 210px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    background-color: #324f6b;
                    border: 4px double #b5e4c9;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-size: 1.04rem;
    
                    &::selection {
                        color: #0f0405;
                    }
                }
            }
        }

        .employees__bill-com__right {
            
            @media only screen and (min-width: 1069px) {
                &:hover {
                    .employees__bill-com__right__top-img {
                        top: -13%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }

                    .employees__bill-com__right__bottom-img {
                        bottom: 2%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }
                }
                
            }
            
            .employees__bill-com__right__top-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                top: -12%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
            
            .employees__bill-com__right__human-img {
                object-fit: contain;
                width: 400px;
                position: absolute;
                right: -6%;
                top: -4%;
                z-index: 2;
            }
            
            .employees__bill-com__right__bottom-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                bottom: 3%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
        }
    }

    .employees__gusto {
        height: 730px;
        display: inline-flex;
        margin-top: 150px;
        position: relative;

        .employees__gusto__left {
            width: 400px;
            margin-left: 50px;

            &:hover {

                .employees__gusto__left__top-img {
                    top: -12%;
                    transition: .3s ease-in-out;
                }

                .employees__gusto__left__bottom-img {
                    bottom: 13%;
                    transition: .3s ease-in-out;
                }
            }

            .employees__gusto__left__top-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                top: -11%;
                left: 1%;
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        
            .employees__gusto__left__human-img {
                object-fit: cover;
                width: 400px;
            }

            .employees__gusto__left__bottom-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                bottom: 14%;
                left: 2.5%; 
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        }

        .employees__gusto__right {
            width: 50%;
            margin-top: 60px;
            margin-left: 110px;

            @media only screen and (max-width: 997px) {
                margin-top: 20px;
                margin-left: 25px;
            }

            .employees__gusto__right__started {
                margin-top: 30px;
                line-height: 60px;
                font-size: 3.1rem;
                font-weight: 200;
                font-family: Inter, serif;

                @media only screen and (max-width: 997px) {
                    font-size: 2.9rem;
                }
    
            }

            .employees__gusto__right__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;
                margin-top: 40px;
                background-color: #ffffff;

                &:hover {
                    animation: button__red .8s ease-in-out forwards;

                    .employees__gusto__right__learn-more__button {
                        background-color: #e5745d;
                        border: 4px double #ffffff;
                        color: #ffffff;
                        animation: button__red .8s ease-in-out forwards;
                    }
                }

                .employees__gusto__right__learn-more__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 210px;
                    background-color: #ffffff;
                    border: 4px double #e5745d;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-weight: 700;
                }
            }
        }
    }
}