
// keyframes

@at-root {
    @keyframes button__red {
        from {
            background-color: #ffffff;
        }

        to {
            background-color: #e5745d;
        }
    }

    @keyframes button__blue-green {
        from {
            background-color: #324f6b;
        }

        to {
            background-color: #b5e4c9;
        }
    }
}



// style employees

.employees {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    @media only screen and (max-width: 1069px) {
        // delete top part img
        .employees__container > .employees__container__left > img[alt*="top"] {
            display: none;
        }

        .employees__container > .employees__container__right > img[alt*="top"] {
            display: none;
        }

        // delete bottom part img
        .employees__container > .employees__container__left > img[alt*="bottom"] {
            display: none;
        }

        .employees__container > .employees__container__right > img[alt*="bottom"] {
            display: none;
        }
    }

    @media only screen and (max-width: 894px) {
        .employees__container {
            display: flex;
            flex-direction: column;
        }
    }

    .employees__zoom {
        height: 730px;
        display: inline-flex;
        margin-top: 100px;
        position: relative;

        @media only screen and (max-width: 894px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 150px;
        }

        .employees__zoom__left {
            width: 400px;
            margin-left: 50px;

            @media only screen and (max-width: 894px) {
                display: flex;
                justify-content: center;
                margin-left: 0px;
                width: 100%;
            }

            &:hover {

                .employees__zoom__left__top-img {
                    top: -12%;
                    transition: .3s ease-in-out;
                }

                .employees__zoom__left__bottom-img {
                    bottom: 13%;
                    transition: .3s ease-in-out;
                }
            }

            .employees__zoom__left__top-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                top: -11%;
                left: 1%;
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        
            .employees__zoom__left__human-img {
                object-fit: cover;
                width: 400px;

                @media only screen and (max-width: 894px) {
                    width: 90vw;
                    height: 650px;
                }
            }


            .employees__zoom__left__bottom-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                bottom: 14%;
                left: 2.5%; 
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        }

        .employees__zoom__right {
            width: 50%;
            margin-top: 60px;
            margin-left: 110px;

            @media only screen and (max-width: 1073px) and (min-width: 894px) {
                margin-top: 10px;
                margin-left: 50px;
            }

            @media only screen and (max-width: 894px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                margin-left: 0px;
            }

            .employees__zoom__right__headline {
                font-size: 3.1rem;
                font-weight: 700;
                font-family: Inter, serif;

                @media only screen and (max-width: 894px) {
                    display: flex;
                    justify-content: center;
                }

                &::selection {
                    color: #e5745d;
                }
            }

            .employees__zoom__right__started {
                width: 95%;
                margin-top: 30px;
                line-height: 60px;
                font-size: 3.1rem;
                font-weight: 200;
                font-family: Inter, serif;
                
                @media only screen and (max-width: 933px) and (min-width: 894px) {
                    margin-top: 20px;
                    font-size: 2.8rem;
                }

                @media only screen and (max-width: 894px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    font-size: 2.7rem;
                }

                @media only screen and (max-width: 485px) {
                    font-size: 2.1rem;
                }

                &::selection {
                    color: #e5745d;
                }
            }

            .employees__zoom__right__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;
                margin-top: 40px;
                background-color: #ffffff;

                @media only screen and (max-width: 894px) {
                    width: 160px;
                    display: flex;
                    justify-content: center;
                    margin-left: calc(50% - 80px);
                }

                &:hover {
                    animation: button__red .8s ease-in-out forwards;
                    .employees__zoom__right__learn-more__button {
                        background-color: #e5745d;
                        border: 4px double #ffffff;
                        color: #ffffff;
                        animation: button__red .8s ease-in-out forwards;
                    }
                }

                .employees__zoom__right__learn-more__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 210px;
                    background-color: #ffffff;
                    border: 4px double #e5745d;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-weight: 700;

                    @media only screen and (max-width: 894px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                }

            }

            .employees__zoom__right__theses {
                margin-top: 35px;
                margin-left: 5px;
                margin-bottom: 8px;
                color: #e5745d;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.19rem;
                font-weight: 500;
                font-family: Karla, sans-serif;

                @media only screen and (max-width: 894px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }

                &::selection {
                    color: #b5e4c9;
                }
            }

            .employees__zoom__right__these {
                width: 250px;
                margin-top: 10px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #000000;
                border-bottom: 1px solid #c0c7c4;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #000000;
                    transition: .4s ease-in-out;
                }

                &::selection {
                    color: #e5745d;
                }

                @media only screen and (max-width: 894px) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    border: none;
                    margin-left: 0px;

                    &:hover,
                    &:active {
                        color: #e5745d;
                        transition: all .5s ease-in-out .25ms;
                        border: none;
                    }
                }
            } 

            .employees__zoom__right__collaboration {
                display: block;
                width: 105px;
                margin-top: 10px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #000000;
                border-bottom: 1px solid #c0c7c4;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #000000;
                    transition: .4s ease-in-out;
                }

                &::selection {
                    color: #e5745d;
                }

                @media only screen and (max-width: 894px) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    border: none;
                    margin-left: 0px;

                    &:hover,
                    &:active {
                        color: #e5745d;
                        transition: all .5s ease-in-out .25ms;
                        border: none;
                    }
                }
            }
        }
    }









    .employees__doximity {
        position: relative;
        margin-top: 100px;
        height: 700px;
        width: 90%;
        background-color: #466684;

        @media only screen and (max-width: 895px) {
            width: 100%;
            height: 1150px;
            margin-top: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media only screen and (max-width: 276px) {
            margin-top: 350px;
        }

        @media only screen and (max-width: 181px) {
            margin-top: 400px;
        }

        .employees__doximity__left {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media only screen and (min-width: 895px) {
                padding-left: 50px;
                padding-top: 50px;
            }

            @media only screen and (max-width: 895px) {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 50px;
                width: 100%;
            }

            @media only screen and (max-width: 356px) {
                bottom: 10px;
            }

            .employees__doximity__left__started {
                width: 57.4482471%;
                font-weight: 300;
                font-size: 3.1rem;
                font-family: Inter, serif;
                line-height: 60px;
                color: #ffffff;

                &::selection {
                    color: #b5e4c9;
                }

                a {
                    text-decoration: none;

                    &::selection {
                        color: #b5e4c9;
                    }
                }

                @media only screen and (max-width: 930px) and (min-width: 895px) {
                    width: 53%;
                    font-size: 2.9rem;
                }

                @media only screen and (max-width: 895px) {
                    width: 100%; 
                    font-size: 2.1rem;
                    text-align: center;
                }

                @media only screen and (max-width: 400px) {
                    font-size: 1.7rem;
                    line-height: 45px;
                }

                @media only screen and (max-width: 203px) {
                    font-size: 1.25rem;
                }
            }

            .employees__doximity__left__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;   
                margin-top: 40px;
                background-color: #324f6b;

                @media only screen and (max-width: 895px) {
                    margin-left: calc(50% - 100px);
                    width: 160px;
                }

                @media only screen and (max-width: 266px) {
                    margin-left: calc(50% - 90px);
                }

                &:hover {
                    animation: button__blue-green .8s ease-in-out forwards;

                    .employees__doximity__left__learn-more__botton {
                        background-color: #b5e4c9;
                        border: 4px double #324f6b;
                        color: #324f6b;
                        animation: button__blue-green .8s ease-in-out forwards;
                    }
                }

                .employees__doximity__left__learn-more__botton {
                    width: 210px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    background-color: #324f6b;
                    border: 4px double #b5e4c9;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;

                    &::selection {
                        color: #0f0405;
                    }

                    @media only screen and (max-width: 895px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                }
            }

            .employees__doximity__left__theses {
                margin-top: 35px;
                margin-left: 5px;
                margin-bottom: 8px;
                color: #b5e4c9;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.19rem;
                font-weight: 500;
                font-family: Karla, sans-serif;

                @media only screen and (max-width: 930px) {
                    margin-top: 25px;
                }

                @media only screen and (max-width: 895px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    margin-left: -20px;
                }

                @media only screen and (max-width: 266px) {
                    margin-left: -12px;
                }

                &::selection {
                    color: #ffffff;
                }
            }

            .employees__doximity__left__these {
                display: block;
                width: 155.4px;
                margin-top: 6px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #ffffe7;
                border-bottom: 1px solid #748ca3;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #ffffe7;
                    transition: .4s ease-in-out;
                }

                @media only screen and (max-width: 895px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-left: -20px;
                    border: none;

                    &:hover,
                    &:active {
                        color: #b5e4c9;
                        transition: all .5s ease-in-out .25ms;
                        border: none;
                    }
                }

                @media only screen and (max-width: 266px) {
                    margin-left: -12px;
                }

                &::selection {
                    color: #b5e4c9;
                }
            }

            .employees__doximity__left__cloud {
                display: block;
                width: 120px;
                margin-top: 6px;
                margin-left: 5px;
                padding-bottom: 3px;
                padding-left: -2px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #ffffe7;
                border-bottom: 1px solid #748ca3;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #ffffe7;
                    transition: .4s ease-in-out;
                }

                &::selection {
                    color: #b5e4c9;
                }

                @media only screen and (max-width: 895px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -20px;
                    border: none;

                    &:hover,
                    &:active {
                        color: #b5e4c9;
                        transition: all .5s ease-in-out .25ms;
                        border: none;
                    }
                }

                @media only screen and (max-width: 266px) {
                    margin-left: -12px;
                }
            }
        }

        .employees__doximity__right {

            @media only screen and (min-width: 1069px) {
                &:hover {
                    .employees__doximity__right__top-img {
                        top: -12%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }

                    .employees__doximity__right__bottom-img {
                        bottom: 17%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }
                }
                
            }

            @media only screen and (max-width: 895px) {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            .employees__doximity__right__top-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                top: -11%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
            
            .employees__doximity__right__human-img {
                object-fit: contain;
                width: 400px;
                position: absolute;
                top: -4%;
                z-index: 2;

                @media only screen and (min-width: 895px) {
                    right: -6%;
                }

                @media only screen and (max-width: 895px) {
                    object-fit: cover;
                    width: 90%;
                    height: 600px;
                }
            }
            
            .employees__doximity__right__bottom-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                bottom: 18%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
        }
    }

    .employees__veeva {
        height: 730px;
        display: inline-flex;
        margin-top: 100px;
        position: relative;

        @media only screen and (max-width: 895px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 250px;
        }

        @media only screen and (max-width: 264px) {
            margin-top: 300px;
        }

        .employees__veeva__left {
            width: 400px;
            margin-left: 50px;

            @media only screen and (max-width: 895px) {
                display: flex;
                justify-content: center;
                margin-left: 0px;
                width: 100%;
            }

            &:hover {

                .employees__veeva__left__top-img {
                    top: -12%;
                    transition: .3s ease-in-out;
                }

                .employees__veeva__left__bottom-img {
                    bottom: 13%;
                    transition: .3s ease-in-out;
                }
            }

            .employees__veeva__left__top-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                top: -11%;
                left: 1%;
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        
            .employees__veeva__left__human-img {
                object-fit: cover;
                width: 400px;

                @media only screen and (max-width: 895px) {
                    width: 90vw;
                    height: 650px;
                }
            }


            .employees__veeva__left__bottom-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                bottom: 14%;
                left: 2.5%; 
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        }

        .employees__veeva__right {
            width: 50%;
            margin-top: 60px;

            @media only screen and (min-width: 1073px) {
                margin-left: 110px;
            }

            @media only screen and (max-width: 1073px) and (min-width: 895px) {
                margin-top: 10px;
                margin-left: 50px;
            }

            @media only screen and (max-width: 895px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
            }

            .employees__veeva__right__logo {
                width: 150px;
                
                @media only screen and (max-width: 933px) {
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    margin-left: calc(50% - 50px);
                }

                &::selection {
                    background-color: #b5e4c9;
                }
            }

            .employees__veeva__right__started {
                width: 95%;
                margin-top: 30px;
                line-height: 60px;
                font-size: 3.1rem;
                font-weight: 200;
                font-family: Inter, serif;
                
                @media only screen and (max-width: 933px) and (min-width: 895px) {
                    margin-top: 20px;
                    font-size: 2.8rem;
                }

                @media only screen and (max-width: 895px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    font-size: 2.7rem;
                }

                @media only screen and (max-width: 485px) {
                    font-size: 1.9rem;
                }

                &::selection {
                    color: #e5745d;
                }
            }

            .employees__veeva__right__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;
                margin-top: 40px;
                background-color: #ffffff;

                @media only screen and (max-width: 895px) {
                    width: 160px;
                    display: flex;
                    justify-content: center;
                    margin-left: calc(50% - 80px);
                }

                &:hover {
                    animation: button__red .8s ease-in-out forwards;
                    .employees__veeva__right__learn-more__button {
                        background-color: #e5745d;
                        border: 4px double #ffffff;
                        color: #ffffff;
                        animation: button__red .8s ease-in-out forwards;
                    }
                }

                .employees__veeva__right__learn-more__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 210px;
                    background-color: #ffffff;
                    border: 4px double #e5745d;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-weight: 700;

                    @media only screen and (max-width: 895px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                }

            }

            .employees__veeva__right__thesis {
                margin-top: 35px;
                margin-left: 5px;
                margin-bottom: 8px;
                color: #e5745d;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.19rem;
                font-weight: 500;
                font-family: Karla, sans-serif;

                @media only screen and (max-width: 895px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }

                @media only screen and (max-width: 266px) {
                    margin-left: -5px;
                }

                &::selection {
                    color: #b5e4c9;
                }
            }

            .employees__veeva__right__cloud {
                width: 116px;
                margin-top: 10px;
                margin-left: 5px;
                padding-left: -2px;
                padding-bottom: 3px;
                font-size: 1.1rem;
                font-weight: 300;
                font-family: Karla, sans-serif;
                color: #000000;
                border-bottom: 1px solid #c0c7c4;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #000000;
                    transition: .4s ease-in-out;
                }

                &::selection {
                    color: #e5745d;
                }

                @media only screen and (max-width: 895px) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    border: none;
                    margin-left: 0px;

                    &:hover,
                    &:active {
                        color: #e5745d;
                        transition: all .5s ease-in-out .25ms;
                        border: none;
                    }
                }
            } 
        }
    }



    .employees__bill-com {
        position: relative;
        margin-top: 100px;
        height: 700px;
        width: 90%;
        background-color: #466684;

        @media only screen and (max-width: 895px) {
            width: 100%;
            height: 1000px;
            margin-top: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media only screen and (max-width: 400px) {
            height: 900px;
        }

        @media only screen and (max-width: 276px) {
            height: 980px;
        }

        @media only screen and (max-width: 276px) {
            margin-top: 350px;
        }

        @media only screen and (max-width: 181px) {
            margin-top: 400px;
        }

        .employees__bill-com__left {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media only screen and (min-width: 895px) {
                padding-left: 50px;
                padding-top: 50px;
            }

            @media only screen and (max-width: 895px) {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 50px;
                width: 100%;
            }

            @media only screen and (max-width: 356px) {
                bottom: 10px;
            }

            .employees__bill-com__left__started {
                width: 57.4482471%;
                font-weight: 300;
                font-size: 3.1rem;
                font-family: Inter, serif;
                line-height: 60px;
                color: #ffffff;

                &::selection {
                    color: #b5e4c9;
                }

                a {
                    text-decoration: none;

                    &::selection {
                        color: #b5e4c9;
                    }
                }

                @media only screen and (max-width: 930px) and (min-width: 895px) {
                    width: 53%;
                    font-size: 2.9rem;
                }

                @media only screen and (max-width: 895px) {
                    width: 100%; 
                    font-size: 2.1rem;
                    text-align: center;
                }

                @media only screen and (max-width: 400px) {
                    font-size: 1.7rem;
                    line-height: 45px;
                }

                @media only screen and (max-width: 203px) {
                    font-size: 1.25rem;
                }
            }

            .employees__bill-com__left__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;   
                margin-top: 40px;
                background-color: #324f6b;

                @media only screen and (max-width: 895px) {
                    margin-left: calc(50% - 100px);
                    width: 160px;
                }

                @media only screen and (max-width: 266px) {
                    margin-left: calc(50% - 80px);
                }

                &:hover {
                    animation: button__blue-green .8s ease-in-out forwards;

                    .employees__bill-com__left__learn-more__button {
                        background-color: #b5e4c9;
                        border: 4px double #324f6b;
                        color: #324f6b;
                        animation: button__blue-green .8s ease-in-out forwards;
                    }
                }

                .employees__bill-com__left__learn-more__button {
                    width: 210px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    background-color: #324f6b;
                    border: 4px double #b5e4c9;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;

                    &::selection {
                        color: #0f0405;
                    }

                    @media only screen and (max-width: 895px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                }
            }
        }


        .employees__bill-com__right {

            @media only screen and (min-width: 1069px) {
                &:hover {
                    .employees__bill-com__right__top-img {
                        top: -12%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }

                    .employees__bill-com__right__bottom-img {
                        bottom: 17%;
                        transition: .3s cubic-bezier(.47,.22,.2,.97);
                    }
                }
                
            }

            @media only screen and (max-width: 895px) {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            .employees__bill-com__right__top-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                top: -11%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
            
            .employees__bill-com__right__human-img {
                object-fit: contain;
                width: 400px;
                position: absolute;
                top: -4%;
                z-index: 2;

                @media only screen and (min-width: 895px) {
                    right: -6%;
                }

                @media only screen and (max-width: 895px) {
                    object-fit: cover;
                    width: 90%;
                    height: 600px;
                }
            }
            
            .employees__bill-com__right__bottom-img {
                object-fit: contain;
                width: 350px;
                position: absolute;
                bottom: 18%;
                right: -6%;
                z-index: 1;
                transition: .3s cubic-bezier(.47,.22,.2,.97);
            }
        }
    }










    .employees__gusto {
        height: 730px;
        display: inline-flex;
        margin-top: 100px;
        position: relative;

        @media only screen and (max-width: 894px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 275px;
        }

        @media only screen and (max-width: 202px) {
            margin-top: 400px;
        }

        .employees__gusto__left {
            width: 400px;
            margin-left: 50px;

            @media only screen and (max-width: 894px) {
                display: flex;
                justify-content: center;
                margin-left: 0px;
                width: 100%;
            }

            &:hover {

                .employees__gusto__left__top-img {
                    top: -12%;
                    transition: .3s ease-in-out;
                }

                .employees__gusto__left__bottom-img {
                    bottom: 13%;
                    transition: .3s ease-in-out;
                }
            }

            .employees__gusto__left__top-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                top: -11%;
                left: 1%;
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        
            .employees__gusto__left__human-img {
                object-fit: cover;
                width: 400px;

                @media only screen and (max-width: 894px) {
                    width: 90vw;
                    height: 650px;
                }
            }


            .employees__gusto__left__bottom-img {
                width: 500px;
                position: absolute;
                z-index: -1;
                bottom: 14%;
                left: 2.5%; 
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        }

        .employees__gusto__right {
            width: 50%;
            margin-top: 60px;
            margin-left: 110px;

            @media only screen and (max-width: 1073px) and (min-width: 894px) {
                margin-top: 10px;
                margin-left: 50px;
            }

            @media only screen and (max-width: 894px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                margin-left: 0px;
            }

            .employees__gusto__right__started {
                width: 95%;
                margin-top: 30px;
                line-height: 60px;
                font-size: 3.1rem;
                font-weight: 200;
                font-family: Inter, serif;
                
                @media only screen and (max-width: 933px) and (min-width: 894px) {
                    margin-top: 20px;
                    font-size: 2.8rem;
                }

                @media only screen and (max-width: 894px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    font-size: 2.7rem;
                }

                @media only screen and (max-width: 485px) {
                    font-size: 2.1rem;
                }

                @media only screen and (max-width: 346px) {
                    font-size: 1.7rem;
                }

                &::selection {
                    color: #e5745d;
                }
            }

            .employees__gusto__right__learn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 75px;
                margin-top: 40px;
                background-color: #ffffff;

                @media only screen and (max-width: 894px) {
                    width: 160px;
                    display: flex;
                    justify-content: center;
                    margin-left: calc(50% - 80px);
                }

                &:hover {
                    animation: button__red .8s ease-in-out forwards;
                    .employees__gusto__right__learn-more__button {
                        background-color: #e5745d;
                        border: 4px double #ffffff;
                        color: #ffffff;
                        animation: button__red .8s ease-in-out forwards;
                    }
                }

                .employees__gusto__right__learn-more__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 210px;
                    background-color: #ffffff;
                    border: 4px double #e5745d;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-weight: 700;

                    @media only screen and (max-width: 894px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                }

            }
        }
    }

    .investments {

        @media only screen and (max-width: 895px) {
            margin-top: 100px;
        }

        .investments__background {
            position: absolute;
            z-index: -1;
            height: 400px;
            width: 100% !important;

            @media only screen and (max-width: 525px) {
                display: none;
            }
        }

        .investments__container {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: absolute;
            bottom: -770px;
            z-index: 2;
            width: 100%;
            height: 450px;
            background-color: #15403d;

            @media only screen and (max-width: 500px) {
                padding-top: 100px;
            }

            .investments__container__conviction {
                color: #e5745d;
                font-size: 1.6rem;
                font-weight: 400;
                font-family: Karla, cursive;

                @media only screen and (max-width: 750px) {
                    font-size: 1.45rem;
                }

                @media only screen and (max-width: 500px) {
                    font-size: 1.29rem;
                }

                &::selection {
                    color: #eff2f2;
                }
            }

            .investments__container__success {
                margin-top: 30px;
                color: #eff2f2;
                font-size: 2.9rem;
                font-weight: 300;
                font-family: Inter, cursive;

                @media only screen and (max-width: 750px) {
                    font-size: 2.5rem;
                }

                @media only screen and (max-width: 550px) {
                    font-size: 2.3rem;
                }

                @media only screen and (max-width: 500px) {
                    font-size: 2rem;
                } 

                @media only screen and (max-width: 440px) {
                    font-size: 1.7rem;
                }

                @media only screen and (max-width: 366px) {
                    text-align: center;
                }

                &::selection {
                    color: #e5745d;
                }
            }

            .investments__container__change {
                width: 50%;
                margin-top: 40px;
                color: #eff2f2;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                font-family: Inter, cursive;
                
                @media only screen and (max-width: 750px) {
                    width: 65%;
                }

                @media only screen and (max-width: 550px) {
                    width: 85%;
                }

                @media only screen and (max-width: 500px) {
                    width: 90%;
                    font-size: 1rem;
                    line-height: 30px;
                }

                @media only screen and (max-width: 440px) {
                    margin-top: 20px;
                }

                &::selection {
                    color: #e5745d;
                }
            }

            .investments__container__dive-in {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 75px;
                margin-top: 80px;
                background-color: #ffffff;

                @media only screen and (max-width: 894px) {
                    width: 160px;
                    display: flex;
                    justify-content: center;
                }

                &:hover {
                    animation: button__red .8s ease-in-out forwards;
                    .investments__container__dive-in__button {
                        background-color: #e5745d;
                        border: 4px double #ffffff;
                        color: #ffffff;
                        animation: button__red .8s ease-in-out forwards;
                    }
                }

                .investments__container__dive-in__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 190px;
                    background-color: #ffffff;
                    border: 4px double #e5745d;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-family: Inter, sans-serif;
                    font-weight: 700;

                    @media only screen and (max-width: 894px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                }

            }
        }
    }
}