
// header + adaptive
.header {
    width: 99%;

    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 20px 40px 0px 40px;
        padding-top: 20px;

        @media only screen and (max-width: 1010px) and (min-width: 845px) {
                margin: 20px 0px 0px 40px;  
        }

        @media only screen and (max-width: 845px) and (min-width: 455px) {
            margin: -3px 10px 0px 20px;
        }

        @media only screen and (max-width: 455px) {
            margin: -3px 0px 0px 20px;
        }
        
        .navbar__right,
        .navbar__left {
            display: inline-block;
        }

        .navbar__left {
            display: flex;
            justify-content: baseline;

            .navbar__left__link {

                .navbar__left__link__logo {

                    @media only screen and (max-width: 845px) {
                        width: 155px;
                        height: 45px;
                    }
                }
            }
        }

        .navbar__right {
            padding-top: 15px;

            .navbar__right__lists {

                @media only screen and (max-width: 845px) {
                    display: none;
                }

                .navbar__right__lists__link {
                    display: inline-block;
                    text-decoration: none;

                    .navbar__right__lists__link__list {
                        margin-right: 22px;
                        list-style: none;
                        text-transform: uppercase;
                        font-family: Inter, sans-serif;
                        font-weight: 600;
                        font-size: 0.88rem;
                        letter-spacing: 2px;
                        line-height: 1.2;
                        color: rgb(5, 2, 10);

                        @media only screen and (max-width: 949px) and (min-width: 845px) {
                                font-size: 0.7rem;
                                margin-right: 15px;
                        }

                        &::selection {
                            color: #466684;
                        }

                        &:hover {
                            border-bottom: 1px solid #e5745d;
                            transition: 3ms ease-out 0s;
                        }
                    }
                }
            }

            .navbar__right__lil-menu {
                display: none;

                @media only screen and (max-width: 845px) {
                    display: block;
                    border: none;
                    margin-top: -5px;
                }
            }
        }
    }

    .header__flex-text {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 75px;

        .header__text {

            .header__text__first-headline {
                color: #e5745d;
                font-weight: 400;
                margin-bottom: -10px;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.5;
                font-family: Inter, sans-serif;

                @media only screen and (max-width: 845px) and (min-width: 770px) {
                    font-size: 1.38rem;
                }

                @media only screen and (max-width: 770px) and (min-width: 575px) {
                    font-size: 1.18rem;
                }

                @media only screen and (max-width: 575px) {
                    font-size: 1rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                &::selection {
                    color: #466684;
                }
            }

    
            .header__text__main-headline {
                width: 92%;
                margin: 30px auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                font-family: Inter, sans-serif;
                font-weight: 200;
                font-size: 4.2rem; 
                line-height: 1.2;

                @media only screen and (max-width: 845px) and (min-width: 770px) {
                        font-size: 3.3rem;
                        width: 75%;
                }

                @media only screen and (max-width: 770px) and (min-width: 575px) {
                    font-size: 2.5rem;
                    width: 88.59%;
                }

                @media only screen and (max-width: 575px) {
                    margin: 15px auto;
                    font-size: 2rem;
                    width: 90%;
                }

                &::selection {
                    color: #e5745d;
                }
            }

        }

    }
}